<top-menu></top-menu>

<div class="container">
  <h3 class="mb-3">{{ 'songs.title' | translate }}</h3>

  <form #songForm="ngForm" (ngSubmit)="handleSave()">
    <div class="toolbar mb-2" role="toolbar">
      <div class="group">
        <button pButton icon="pi pi-chevron-left" iconPos="left" [label]="'actions.cancel' | translate" class="p-button-secondary p-button-sm" (click)="handleCancel()"></button>
        <button pButton icon="pi pi-check" iconPos="left" [label]="'actions.save' | translate" class="p-button-success p-button-sm" (click)="handleSave()"></button>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-6 p-field">
        <label for="title" [title]="'songs.fields.title' | translate">{{ 'songs.fields.title' | translate }}</label>
        <input pInputText type="text" class="form-control" id="title" name="title" #title="ngModel" [(ngModel)]="song.title" required />
      </div>
      <div class="col-md-6 p-field">
        <label for="songWriter" [title]="'songs.fields.songwriter' | translate">{{ 'songs.fields.songwriter' | translate }}</label>
        <input pInputText type="text" class="form-control" id="songWriter" name="songWriter" #songWriter="ngModel" [(ngModel)]="song.songwriter">
      </div>
    </div>
  </form>
</div>
