.toolbar {
  .group {
    display: inline-block;

    button + button,
    button + p-splitbutton,
    p-splitbutton + button,
    p-splitbutton + p-splitbutton {
      margin-left: 4px;
    }

    & + .group {
      margin-left: 12px;
    }
  }
}
